.App {
  overflow-x: hidden;
  width: 100%;
}

.main-content {
  margin-top: 4%;
}
.nav {
  line-height: 1;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  z-index: 3;
}

.nav a:active {
  color: #000;
}

.navbar-brand {
  font-weight: 600;
  padding-right: 25%;
  margin-left: 23%;
}

.App .navbar-light .navbar-brand {
  color: #269ce0;
}

.App .navbar-light .navbar-brand:hover {
  color: grey;
}
.navbar-nav .nav-link {
  color: grey;
}

.nav-link:hover {
  background-color: #43b5f7;
  border-radius: 10%;
}

.nav .navbar {
  padding: 0;
  margin: 1% 0;
}

.top-section {
  background-color: #f4f6f8;
  width: 100%;
  display: flex;
  padding: 0 16%;
}

.top-section-left {
  padding: 5% 20% 0 23%;
  /* margin-top: 20%; */
}

.profile-picture {
  height: 100%;
  width: 65%;
  padding-top: 1%;
}

.btn-read a {
  text-decoration: none;
  color: #fff;
}

.text-center .btn {
  color: #fff;
}

.btn .btn-download:hover {
  color: #000;
}

.text-center .btn:hover {
  color: #000;
}

.btn-read a:hover {
  color: #000;
}

.btn-send:hover {
  color: #000;
}

.about-container {
  margin: 5% 0 4% 24%;
  display: flex;
  justify-content: center;
}

.text-block {
  background-color: white;
  color: black;
  padding: 4% 3%;
  width: 30%;
  margin-left: -2%;
  margin-top: 3%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.about-image {
  height: 52%;
  width: 25%;
  margin-left: -1%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.skills-header {
  text-align: center;
  margin-bottom: 2%;
}

.skills-left {
  width: 45%;
}

.skills-right {
  width: 45%;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding: 0 16%;
}

.skills-bar-info {
  display: flex;
  justify-content: space-between;
}

.stats {
  background-color: #43b5f7;
  height: 8rem;
  margin: 3% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
}

.stat-container {
  color: #fff;
  text-align: center;
}

.stat-container h3 {
  text-align: center;
}

.projects h3 {
  text-align: center;
}

.projects figure {
  width: 90%;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.project-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10% 2%;
}

.project-list .project-item .btn {
  background-color: #43b5f7;
}

figure:hover {
  background-color: #fff;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
}

.project-item .btn {
  background-color: #3d83df;
  color: #fff;
  border-style: hidden;
  border-radius: 5px;
  height: 30px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
}

.project-image {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.progress-bar .bg-blue {
  background-color: #43b5f7;
}

figcaption {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: #747474;
  line-height: 30px;
  font-weight: 400;
  background-color: #fff;
  padding: 2% 2%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.projects a {
  text-decoration: none;
}

.testimonial-image {
  border-radius: 50%;
  width: 100%;
}

.testimonials h3 {
  text-align: center;
  margin-bottom: 1.5%;
}

.testimonial-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.testimonial-header-left {
  width: 15%;
  margin: 2% 5%;
}

.testimonial-body {
  padding: 0 5% 2%;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  width: 40%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  background-color: #fff;
  margin: auto;
}

.testimonial-list {
  margin-bottom: 4%;
}

.contact h3 {
  text-align: center;
}

.contact {
  width: 60%;
  margin: auto;
}

.contact-icons {
  padding-top: 2.5%;
}

.contact .mb-4 p .text-center .w-responsive .mx-auto .mb-5 .contact-text {
  margin-bottom: 1%;
}

@media (max-width: 400px) {
  .top-section-left {
    padding: 0% 5% 0 0%;
    margin-bottom: 6%;
  }

  .top-section {
    background-color: #f4f6f8;
    width: 100%;
    display: flex;
    padding: 0 16%;
  }

  .profile-picture {
    height: 100%;
    width: 100%;
    /* padding-top: 5%; */
  }

  .main-content {
    margin-top: 15%;
  }

  .about-container {
    margin: 5% 0 4% 24%;

    display: flex;
    justify-content: center;
  }

  .text-block {
    width: 90%;
    padding: 4% 4%;
    margin-left: 0%;
  }

  .about-image {
    margin-top: 35%;
    margin-left: 0.5%;

    height: 100%;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: none;
  }

  .testimonial-item {
    width: 70%;
  }

  .project-list {
    padding: 1% 2% 2%;
  }

  .project-item .btn {
    background-color: #3d83df;
    color: #fff;
    border-style: hidden;
    border-radius: 5px;
    height: 40px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    font-size: 8px;
    line-height: 8px;
    width: 30%;
    padding: 5%;
    margin-right: 5%;
  }

  .projects figure {
    width: 100%;
    height: 8.5rem;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  .project-image {
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  figcaption {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #747474;
    line-height: 30px;
    font-weight: 400;
    background-color: #fff;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .project-item {
    margin: 0 1%;
  }

  .stats {
    background-color: #43b5f7;
    height: 7rem;
    /* margin: 3% 0; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 3% 0;
    font-size: 13px;
  }

  .navbar-brand {
    font-weight: 600;
    padding-right: 25%;
    margin-left: 2%;
  }

  .testimonials h3 {
    text-align: center;
    margin-bottom: 3.5%;
  }

  .skills-header {
    text-align: center;
  }

  .contact h3 {
    margin-top: 10%;
  }
}

@media (max-width: 480px) {
  .top-section-left {
    padding: 3.5% 5% 0 7%;
    /* margin-bottom: 4%; */
  }

  .top-section {
    background-color: #f4f6f8;
    width: 100%;
    display: flex;
    padding: 0 16%;
  }

  .profile-picture {
    height: 100%;
    width: 100%;
    /* padding-top: 5%; */
  }

  .main-content {
    margin-top: 15%;
  }

  .about-container {
    margin: 5% 0 4% 24%;

    display: flex;
    justify-content: center;
  }

  .text-block {
    width: 90%;
    padding: 4% 4%;
    margin-left: 0%;
  }

  .about-image {
    margin-top: 35%;
    margin-left: 0.5%;

    height: 100%;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: none;
  }

  .testimonial-item {
    width: 70%;
  }

  .project-list {
    padding: 1% 2% 2%;
  }

  .project-item .btn {
    background-color: #3d83df;
    color: #fff;
    border-style: hidden;
    border-radius: 5px;
    height: 40px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    font-size: 8px;
    line-height: 8px;
    width: 30%;
    padding: 5%;
    margin-right: 5%;
  }

  .projects figure {
    width: 100%;
    height: 8.5rem;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }

  .project-image {
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  figcaption {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #747474;
    line-height: 30px;
    font-weight: 400;
    background-color: #fff;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .project-item {
    margin: 0 1%;
  }

  .stats {
    background-color: #43b5f7;
    height: 7rem;
    /* margin: 3% 0; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 3% 0;
    font-size: 13px;
  }

  .navbar-brand {
    font-weight: 600;
    padding-right: 25%;
    margin-left: 2%;
  }

  .testimonials h3 {
    text-align: center;
    margin-bottom: 3.5%;
  }

  .skills-header {
    text-align: center;
  }

  .contact h3 {
    margin-top: 10%;
  }
}
